body,html{
	background: linear-gradient(315deg, #D8702C 0%, #D8702C 30%, #ffbe4b 100%);
	height: 100vh;
}
.card{width: 50%;}
.card>img{width: 20%;margin-top: -2.5em;}
.card-txt{font-size: 16px;}
.card-sm-text{font-size: 12px;}
.card-body>div{margin: 10px;}
.btn-orange{
	background: rgb(216 112 44);
	width: 75%;
}
@media(max-width: 772px){
	.card{width: 75%;}
	.card>img{width: 20%;}
	.btn-orange{width: 100%;}
}
@media(max-width: 576px){
	.card{width: 95%;}
	.card>img{width: 30%;}
}